/*Custom Fonts*/
/* @font-face {
    font-family: Centra;
    src: url(//db.onlinewebfonts.com/c/229a57bbeef591e04a1fdfe347c90864?family=Centra+No2);
    font-weight: 700;
}

@font-face {
    font-family: Centra;
    src: url(//db.onlinewebfonts.com/c/229a57bbeef591e04a1fdfe347c90864?family=Centra+No2);
    font-weight: 500;
}

@font-face {
    font-family: Centra;
    src: url(//db.onlinewebfonts.com/c/229a57bbeef591e04a1fdfe347c90864?family=Centra+No2);
    font-weight: 400;
} */

:root {
    --color-white: hsl(0, 0%, 100%);
    --color-gray: hsl(252, 100%, 90%);
    --color-black: hsl(252, 30%, 10%);
    --color-danger: hsl(0, 95%, 65%);
    --color-success: hsl(120, 95%, 65%);

    --border-radius: 2rem;
    --post-padding: 1rem;
}

/* ==================== DEFAULT CSS ==================== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 75px
}

body {
    font-weight: 400;
    overflow-x: hidden;
    position: relative;
    /* background-color: orange !important; */
    color: black !important;
}

/* ========= POSTS ========= */
.postList {
    background: var(--color-white);
    border-radius: var(--border-radius);
    padding: var(--card-padding);
    margin: 1rem 0;
    font-size: 0.85rem;
    line-height: 1.5;
}

.allPosts {
    display: grid;
    grid-template-rows: 70px;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: 140px;
    grid-auto-flow: column;
}

table.minimalistBlack {
    border: 3px solid #000000;
    width: 75%;
    text-align: left;
    border-collapse: collapse;
}

table.minimalistBlack td,
table.minimalistBlack th {
    border: 1px solid #000000;
    padding: 5px 4px;
}

table.minimalistBlack tbody td {
    font-size: 13px;
}

table.minimalistBlack thead {
    background: #CFCFCF;
    background: -moz-linear-gradient(top, #dbdbdb 0%, #d3d3d3 66%, #CFCFCF 100%);
    background: -webkit-linear-gradient(top, #dbdbdb 0%, #d3d3d3 66%, #CFCFCF 100%);
    background: linear-gradient(to bottom, #dbdbdb 0%, #d3d3d3 66%, #CFCFCF 100%);
    border-bottom: 3px solid #000000;
}

table.minimalistBlack thead th {
    font-size: 15px;
    font-weight: bold;
    color: #000000;
    text-align: left;
}

table.minimalistBlack tfoot td {
    font-size: 14px;
}

h1 {
    display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

h3 {
    display: block;
    font-size: 1.17em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

.post__header {
    display: flex;
    justify-content: center;
}

.post_category {
    display: flex;
    justify-content: end;
}

.post_author {
    display: flex;
    justify-content: start;
}

.post_button {
    background-color: rgba(51, 51, 51, 0.05);
    border-radius: 8px;
    border-width: 0;
    color: #333333;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    margin: 0;
    padding: 10px 12px;
    text-align: center;
    transition: all 200ms;
    vertical-align: baseline;
    white-space: nowrap;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}